 .app{
    background-color: #F8F9FA;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    text-decoration: none !important;
    cursor: pointer;
    color: #000 !important;
  }

